/* Import */
@import:"bootstrap";
@import:"../fonts/fonts.css";
/* Definition of colors */

/* Definition of fonts */
@sans-serif: Tahoma,Geneva,sans-serif;
@myriad: "MyriadProBold";

/* Definition of 
